.container-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.mycolor{
    color: white !important;
    background-color: #1f3e72 !important;
}

.center-heading{
    font-size: 2.2rem;
    text-align: center;
    padding-top: 10px;
}
.c-heading{
    color: rgb(243, 134, 0);
}