.btn_d123{
    width: 10rem;
}
/* .btn_d1234{
    width: 10rem;
    border: 2px solid rgb(18, 151, 18) !important;
    color: green !important;
}
.btn_d1234:hover{
   background-color: green !important;
   color: white !important;
}
.btn_d1235{
    width: 10rem;
    border: 2px solid rgb(255, 153, 0) !important;
    color: green;
}
.btn_d1235:hover{
    background-color: rgb(255, 153, 0) !important;
    color: white !important;
 } */